# Compiled Java binaries
*.class
**/*.class

# Build directories
target/
.mvn/repository/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbproject/Makefile-*.mk
/nbproject/Package-*.bash

### VS Code ###
.vscode/

# Output files & logs
*.log
output_prompt.md
.promptctx-cache/
.llm_config/
bin/
src/bin/
models/
llama/
src/models/
*.gguf
*.part
sessions/
.sessions/
